/*
STATUS [△]
----------
ZEN MODS
- Better Tab Indicators
- Bigger Mute Button
- Bottom Essentials
- Disable Status Bar
- No Search Shortcut Icons
- Only Close On Hover
- Super URL Bar
    - Always Centered
    - Hides all the icons/ buttons on the left side

TOOLBAR
Extension Button, Flexible Space, URL Bar, Overflow Menu, More

ADVANCED CONFIG (ONLY ESSENTIALS)
- zen.workspaces.show-workspace-indicator false
- devtools.debugger.remote-enabled true
*/

.titlebar-buttonbox-container {
    padding-right: 20px !important;
}

.urlbar-input-box {
    padding-left: 20px !important;
}

#urlbar[focused] {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important;
}

#urlbar[focused] *|input::placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

#urlbar {
    border-radius: 15px !important;
}

#urlbar:not([open]) > #urlbar-background {
    border-radius: 15px !important;
}

#urlbar[open] > #urlbar-background {
    border-radius: 15px !important;
}

:root[zen-window-buttons-reversed="true"] .titlebar-buttonbox-container {
    display: none !important;
}

/* #back-button, #forward-button, #unified-extensions-button {
    display: none !important;
} */

/* #zen-workspaces-button[as-button="true"] {
    display: none !important;
} */



.urlbar-input-container {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

:root {
    --zen-toolbar-height: 45px !important;
    /* --zen-border-radius: 14px !important; */
}

:root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) {
    @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") or (-moz-bool-pref: "zen.view.use-single-toolbar") {
        @media not (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
            &:not([zen-single-toolbar="true"]) #navigator-toolbox:not([animate="true"]) {
                margin-top: calc(var(--zen-toolbar-height) - 1px) !important;
            }
        }
    }
}

:root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) {
    @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") or (-moz-bool-pref: "zen.view.use-single-toolbar") {
        & #navigator-toolbox:not([animate="true"]) #titlebar {
            border-radius: calc(var(--zen-native-inner-radius)) !important;
        }
    }
}

/* #zen-sidebar-top-buttons {
    display: none !important;
} */


/* var(--urlbar-container-padding) */
